   *{

     
     font-family: "Comic Sans MS", cursive, sans-serif;
     margin: 0;
     padding: 0;
     -webkit-animation: border-box;
     -moz-animation: border-box;
     box-sizing: border-box;
     
   }
   nav {
     padding: 1em;
     font-family: font-family: Verdana, Geneva, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
     background: #333;
   }
   
   nav li a {
     color: white;
     display: block;
     text-decoration: none;
     padding: .5em 1em;
   }
   
   nav li a:hover {
     background: tomato;
     color: white;
   }
   .footer{
     bottom:0;
     width: 100%;
     height: 60px;
     background-color: brown;
     text-align-last: center;
    }
    .navbar-header img{
    height: 30px;
    }
    picture img {
    width: 100%;
    display: block;
    padding-bottom: 5px;
    padding-top: 20px;
    border-style: solid;
    }
    i{
     text-align: center;
    }
    img{
         transition: all 0.5s linear;
    }
    img:hover{
         transform: scale(0.9);
    }
   .div-fondo{
background-image: url(Imagenes/fondo.jpg);
background-position:center ;
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
   }
.imagen:hover {
     filter: blur(5px);
}
backgroung-image{
     opacity: 0.5;
}

h1,p,i,h2,ul,li,a{

     font-weight: 1000;
     color: black;

}
.opacidad{
     background-color: rgba(0, 0, 0, .5);
          height: 2em;
          width: 150px;
     position: absolute;
     top: 10px;
     padding-top: 1em;
}
* {
     margin:0px;
     padding:0px;
}

#header {
     margin:auto;
     width:500px;
     font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
     list-style:none;
}

.nav > li {
     float:left;
}
.box {
     display: flex;
     flex-direction: row-reverse;
   }

.nav li a {
     background-color:#000;
     color:#fff;
     text-decoration:none;
     padding:10px 12px;
     display:block;
}

.nav li a:hover {
     background-color:#434343;
}

.nav li ul {
     display:none;
     position:absolute;
     min-width:140px;
}

.nav li:hover > ul {
     display:block;
}

.nav li ul li {
     position:relative;
}

.nav li ul li ul {
     right:-140px;
     top:0px;
}